<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DXC Home Page</title>
</head>
<body>
    <h2>DXC Home Page</h2>
    <hr>
    <p>
    Welcome to the Home Page
    </p>

    <hr>

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Roles(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <div sec:authorize="hasRole('MANAGER')">

        <p>
            <a th:href="@{/manager}">Leadership Meeting</a>
            (Only for Manager role>
        </p>
    </div>

    <hr>
    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>

</body>
</html>